<%= form_for(lesson_part) do |f| %>
  <% if lesson_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson_part.errors.count, "error") %> prohibited this lesson_part from being saved:</h2>

      <ul>
      <% lesson_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="field">
    <%= f.label :lesson_id %>
    <%= f.text_field :lesson_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
