<p id="notice"><%= notice %></p>

<h1>Lesson Parts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Lesson</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson_parts.each do |lesson_part| %>
      <tr>
        <td><%= lesson_part.title %></td>
        <td><%= lesson_part.position %></td>
        <td><%= lesson_part.lesson_id %></td>
        <td><%= link_to 'Show', lesson_part %></td>
        <td><%= link_to 'Edit', edit_lesson_part_path(lesson_part) %></td>
        <td><%= link_to 'Destroy', lesson_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson Part', new_lesson_part_path %>
