<%= form_for(part_completion) do |f| %>
  <% if part_completion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part_completion.errors.count, "error") %> prohibited this part_completion from being saved:</h2>

      <ul>
      <% part_completion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, User.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :lesson_part_id %>
    <%= f.grouped_collection_select :lesson_part_id, Lesson.order(:position), :lesson_parts, :title, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
