<p id="notice"><%= notice %></p>

<h2>Name: <%= @teacher.name %></h2>

<% @teacher.users.each do |student| %>
  <h3><%= student.name %> Progress:</h3>
  <%= render 'shared/student_progress', student: student %>
<% end %>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
